@model IEnumerable<WEBSITE_FILM_002.Models.USERS>

@{
    ViewBag.Title = "Users";
    Layout = "~/Areas/Admin/Views/Shared/_layout_Admin.cshtml";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FIRSTNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LASTNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BORN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GENDER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IMAGENAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USERSTATUS)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FIRSTNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LASTNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BORN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GENDER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IMAGENAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USERSTATUS)
        </td>
        <td>
            <a href="./EditUser/@item.USERID" style="display:inline;" class="text-success pe-1"><i class="fas fa-edit"></i></a>
            <a href="./DetailUser/@item.USERID" style="display:inline;" class="text-primary pe-1"><i class="fas fa-user"></i></a>
            <a href="./DeleteUser/@item.USERID" style="display:inline;" class="text-danger "><i class="fas fa-trash-alt"></i></a>
        </td>
    </tr>
}

</table>
