<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Detail_Film.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js" integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <div class="site-menu">
        <div class="col-12 text-end user-control" style="">
            <p>
                <span>
                    <a href="#">
                        Đăng nhập
                    </a> 
                </span>
                /
                <span>
                    <a href="#">
                        Đăng kí
                    </a>
                </span>
            </p>
            <p style="display:none">
                <span>Xin chào, User name</span>
                <span>
                    <img src="#" alt="Alternate Text" />
                </span>
            </p>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light m-0" style="">
            <div class="container">
                <a class="navbar-brand" style="font-weight: 900;" href="#"><i class="fas fa-play h4-title-c"></i><span class="h4-title-c">Alphabet</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                    <div class="row">
                        <div class="col-12 col-md-12  p-3">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#">PHIM MỚI</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">PHIM LẺ</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">HOẠT HÌNH</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link text-uppercase" href="#">Phim năm</a>
                                    @*<ul class="nav-item">
                                            <li class="navbar">
                                                <ul class="navbar-nav">
                                                    <li class="nav-item"><a class="nav-link text-uppercase" href="#">content1</a></li>
                                                    <li class="nav-item"><a class="nav-link text-uppercase" href="#">content</a></li>
                                                    <li class="nav-item"><a class="nav-link text-uppercase" href="#">content</a></li>
                                                </ul>
                                            </li>
                                            <li class="navbar">
                                                <ul class="navbar-nav">
                                                    <li class="nav-item"><a class="nav-link text-uppercase" href="#">content2</a></li>
                                                    <li class="nav-item"><a class="nav-link text-uppercase" href="#">content</a></li>
                                                    <li class="nav-item"><a class="nav-link text-uppercase" href="#">content</a></li>
                                                </ul>
                                            </li>
                                            <li class="navbar">
                                                <ul class="navbar-nav">
                                                    <li class="nav-item"><a class="nav-link text-uppercase" href="#">content3</a></li>
                                                    <li class="nav-item"><a class="nav-link text-uppercase" href="#">content</a></li>
                                                    <li class="nav-item"><a class="nav-link text-uppercase" href="#">content</a></li>
                                                </ul>
                                            </li>
                                        </ul>*@
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">CHIẾU RẠP</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">THUYẾT MINH</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/bootstrap.js")
    @Scripts.Render("~/Scripts/User/Detail_Film.js")
    @RenderSection("scripts", required: false)


    <script>
        AOS.init();
    </script>   
</body>
</html>
